<div class="container hatch-container">
	<div class="row">
		<div class="col-sm-12">
			<h4>Hatch a Design!</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="design-box">
				<div class="design-imgbox">
				</div>
				<div class="design-subbox">
					<div class="row">
						<div class="col-md-12">							
							<h5 class="design-title"><b>Fin</b></h5>
						</div>
						<div class="col-xs-9">
							<h5 class="design-author"><a href="/designer/evan/">by Evan Liao</a></h5>
						</div>
						<div class="col-xs-3">
							<h5 class="design-price">$249.00</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="design-box">
				<div class="design-imgbox">
				</div>
				<div class="design-subbox">
					<div class="row">
						<div class="col-md-12">							
							<h5 class="design-title"><b>Fin</b></h5>
						</div>
						<div class="col-xs-9">
							<h5 class="design-author"><a href="/designer/evan/">by Evan Liao</a></h5>
						</div>
						<div class="col-xs-3">
							<h5 class="design-price">$249.00</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="design-box">
				<div class="design-imgbox">
				</div>
				<div class="design-subbox">
					<div class="row">
						<div class="col-md-12">							
							<h5 class="design-title"><b>Fin</b></h5>
						</div>
						<div class="col-xs-9">
							<h5 class="design-author"><a href="/designer/evan/">by Evan Liao</a></h5>
						</div>
						<div class="col-xs-3">
							<h5 class="design-price">$249.00</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>