<div class="container hatch-container">
	<div id="howToHatch">
		<div class="row">
			<div class="col-sm-12">
				<h4>How Does Hatch Work?</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="design-box">
					<div class="design-imgbox">
					</div>
				</div>
				<span class="num-txt">1</span>
				<h5 class="desc-txt">We first collaborate with our designers to insure quality and timely distribution of the product.</h5>
			</div>
			<div class="col-sm-3">
				<div class="design-box">
					<div class="design-imgbox">
					</div>
				</div>
				<span class="num-txt">2</span>
				<h5 class="desc-txt">Once the product passes quality control, it becomes available on the designer's page to begin filling the first batch of order.</h5>
			</div>
			<div class="col-sm-3">
				<div class="design-box">
					<div class="design-imgbox">
					</div>
				</div>
				<span class="num-txt">3</span>
				<h5 class="desc-txt">Our community of design enthusiasts join to hatch the product. However, if the required number of orders are not met for that batch, the product cannot be hatched.*</h5>
			</div>
			<div class="col-sm-3">
				<div class="design-box">
					<div class="design-imgbox">
					</div>
				</div>
				<span class="num-txt">4</span>
				<h5 class="desc-txt">When the required number of orders are met for the first batch, the next batch opens up for orders while our designers begin manufacturing and shipping the first batch of orders.</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 btn-box">
				<a class="btn btn-primary btn-lg" href="#" role="button">Ask More Questions</a>
			</div>
		</div>
	</div>
</div>