<div class="content-box">
	<div class="row">
		<div class="col-md-12">
			<div class="see-box">
				<a href="#" class="see-all-txt">See All Designs</a>
			</div>
		</div>
		<div class="col-md-12">
			<div class="product-desc-box">
				<h2 class="product-title-txt">Hedge Pendant Pair in Fig </h2>
				<h4 class="product-author-txt">by <a href="#" class="author-txt">Cora Neil</a></h4>
			</div>
		</div>
		<div class="col-md-12">
			<div class="gallery-box">
				<% include _productCarousel.ejs %>
			</div>
		</div>
		<div class="col-md-9">
			<div class="photos-box">
				<ng-gallery images="gallery" thumbs-num="{{gallery.length}}">
				</ng-gallery>
			</div>
		</div>
		<div class="col-md-3">
			<div class="social-box">
				 <i class="flaticon-link23 footer-social"></i>
				 <i class="flaticon-facebook55 footer-social"></i>
				 <i class="flaticon-pinterest27 footer-social"></i>
				 <i class="flaticon-twitter1 footer-social"></i>
			</div>
		</div>
		<div class="col-md-12"  id="affix-stop">
			<div class="nav-tab-box">
				<div class="row">
					<div class="col-md-12">
						<span ng-class="tab ? 'tab-active tab-txt' : 'tab-txt'" ng-click="tab = true">Design Specifics</span>
						<span ng-class="!tab ? 'tab-active tab-txt' : 'tab-txt'" ng-click="tab = false">Updates (3)</span>
						<div class="clear-float"></div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="tab">
			<div class="col-md-12 accordion-box">
				<uib-accordion close-others="false">
					<uib-accordion-group heading="Product Description" is-open="accordionStatus.description">
						<uib-accordion-heading>
							<span ng-class="accordionStatus.description ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"></span> Product Description
						</uib-accordion-heading>
						<div class="row">
							<div class="col-md-11">
								<h4 >Each planter is crafted in Los Angeles from welded steel wire and is powder coated to bring a vibrant, graphic look to your garden. Each BEATRIX planter comes with matching powder coated hanging hardware and an insert made from organic coco-mat (made from organic latex and coconut husk) to provide support and excellent drainage for your plants.<br><br>*plants not included</h4>
							</div>	
							<div class="col-md-12 accordion-img-box">
								<div class="accordion-img-place" style="width:200px">
								</div>
								<div class="accordion-img-place" style="width:400px">
								</div>
							</div>	
						</div>
				    </uib-accordion-group>
				    <uib-accordion-group heading="Product Description" is-open="accordionStatus.material">
						<uib-accordion-heading>
							<span ng-class="accordionStatus.material ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"></span> Materials and Dimensions
						</uib-accordion-heading>
						<div class="row">
							<div class="col-md-11">
								<h4 class="accordion-desc">Materials and Dimensions Description.......</h4>
							</div>	
						</div>
				    </uib-accordion-group>
				    <uib-accordion-group heading="Product Description" is-open="accordionStatus.source">
						<uib-accordion-heading>
								<span ng-class="accordionStatus.source ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"></span> Manufacturing Source
						</uib-accordion-heading>
						<div class="row">
							<div class="col-md-11">
								<h4 class="accordion-desc">Manufacturing Source Description.......</h4>
							</div>	
						</div>
				    </uib-accordion-group>
				    <uib-accordion-group heading="Product Description" is-open="accordionStatus.ship">
						<uib-accordion-heading>
							<span ng-class="accordionStatus.ship ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-right'"></span> Ship Out Timeline
						</uib-accordion-heading>
						<div class="row">
							<div class="col-md-11">
								<h4 class="accordion-desc">Ship Out Timeline Description.......</h4>
							</div>	
						</div>
				    </uib-accordion-group>
				</uib-accordion>
			</div>
		</div>
		<div ng-show="!tab">
			<div class="col-md-12 comments-box">
				<textarea class="form-control comment-txtbox" placeholder="Type your comments here." rows="8"></textarea>
				<button class="btn btn-default pull-right ask-btn" type="submit">Ask!</button>
				<div class="comments-disp-box">
					<h4 class="desc">“Where is a light source coming from? What kind of light bulb does it use? “</h4>
					<h4 class="author">Stella on October 29th, 2015</h4>

					<h4 class="desc">What kind of paint is used on the beam of the stand?</h4>
					<h4 class="author">Stella on October 28th, 2015</h4>
					<h4 class="desc">What kind of paint is used on the beam of the stand?</h4>
					<h4 class="author">Stella on October 27th, 2015</h4>
				</div>
			</div>
		</div>
	</div>
</div>