.suggest-jumbotron{	
	background: url(../assets/images/bg2.jpg) no-repeat 75% 110% fixed; 
	background-size: cover;
	height: 450px;
	.jumbo-container{
		width:100%;
		margin:0 auto;
		text-align:center;
		.title-txt{
			@extend .playfair;
			font-size: 40px;
			margin-top:70px;
		}
		.credit-box{
			margin: 200px 5px 0 0;
			bottom:0;
			text-align: right;
			h6{
				font-size: 9px;
			}
		}	
	}
}
#suggest-container{
	padding-top: $navbar-height;
	.suggest-product-container{
		width:100%;
		padding:20px 72px 80px 72px;
		.sort-txt{
			margin-right:50px;
		}
		.suggest-box{
			text-align: right;
			.make-btn{
				padding-left: 20px;
				padding-right: 20px;
			}
		}		
		.product-box{
			border-radius: 4px;
			border:1px solid $gray;
			padding:8px 10px;
			margin-top:20px;
			.img-box{
				height:200px;
				width:100%;
				margin:0 auto;
				background-color: $gray;
			}			
			.content-box{
				margin:0;
				padding:10px 0px;
				.votes-box{
					margin-left:10px;
					.thumbs-icon{
						font-size: 18px;
					}
					h4{
						margin:0;
					}
				}
				.txt-box{
				}
			}
		}	
		.product-div{
			width:100%;
			background-color: $white;
			margin:10px;
			border:1px solid $gray;
			.img-box{
				height:200px;
				width:95%;
				margin:2.5% auto;
				background-color: $gray;
			}
			.content-box{
				padding:30px 10px;
				.vote-btn{
					padding:10px 20px;
				}
				.message-btn{
					border:none;
				}
				.txt-box{
					padding-left:20px;
				}
			}
		}
		
	}
}