<div id="suggest-container" ng-controller="suggestController">
	<div class="jumbotron suggest-jumbotron">
		<div class="container jumbo-container">
			<h2 class="title-txt">Suggest and vote for designer goods <br> you love and we will help hatch it.</h2>
		</div>
	</div>
	<% include partials/suggest/_suggestProducts.ejs%>
</div>