<div id="suggest-container" ng-controller="suggestController">
	<div class="jumbotron suggest-jumbotron">
		<div class="container jumbo-container">
			<h2 class="title-txt">Suggest and vote for designer goods <br> you love and we will help hatch it.</h2>
		</div>
	</div>
	<div class="suggest-product-container">
		<div class="row">
			<div class="col-md-12">
				<div class="dropdown pull-left">
					<button id="sort-btn" class="btn btn-default dropdown-toggle drop-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					<span class="sort-txt">Sort by</span>
						<span class="caret"></span>
					</button>
						<ul data-name="sort" class="dropdown-menu" aria-labelledby="dropdownMenu1">
							<li><a href="#">earliest ship date</a></li>
							<li><a href="#">most hatched</a></li>
							<li><a href="#">price: low-high</a></li>
							<li><a href="#">price: high-low</a></li>
							<li><a href="#">time: newest listed</a></li>
							<li><a href="#">time: ending soonest</a></li>
						</ul>
				</div>
				<button class="btn btn-default make-btn btn-dark pull-right" type="submit">Make A Suggestion</button>
				<div class="clear-float"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="product-box">
					<div class="img-box" style="height:250px;">
					</div>
					<div class="content-box">
						<div class="txt-box">
							<h5>Eames Plywood Chair</h5>
							<h5>Submitted by: Michael C. </h5>
						</div>
						<div class="votes-box">
							<span class="glyphicon glyphicon-thumbs-up thumbs-icon"></span> 
							<h4>18</h4>
						</div>
					</div>
				</div>
				<div class="product-box">
					<div class="img-box" style="height:250px;">
					</div>
					<div class="content-box">
						<div class="txt-box">
							<h5>Eames Plywood Chair</h5>
							<h5>Submitted by: Michael C. </h5>
						</div>
						<div class="votes-box">
							<span class="glyphicon glyphicon-thumbs-up thumbs-icon"></span> 
							<h4>18</h4>
						</div>
					</div>
				</div>
				<div class="product-box">
					<div class="img-box" style="height:250px;">
					</div>
					<div class="content-box">
						<div class="txt-box">
							<h5>Eames Plywood Chair</h5>
							<h5>Submitted by: Michael C. </h5>
						</div>
						<div class="votes-box">
							<span class="glyphicon glyphicon-thumbs-up thumbs-icon"></span> 
							<h4>18</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-box">
					<div class="img-box" style="height:200px;">
					</div>
					<div class="content-box">
						<div class="txt-box">
							<h5>Eames Plywood Chair</h5>
							<h5>Submitted by: Michael C. </h5>
						</div>
						<div class="votes-box">
							<span class="glyphicon glyphicon-thumbs-up thumbs-icon"></span> 
							<h4>18</h4>
						</div>
					</div>
				</div>
				<div class="product-box">
					<div class="img-box" style="height:250px;">
					</div>
					<div class="content-box">
						<div class="txt-box">
							<h5>Eames Plywood Chair</h5>
							<h5>Submitted by: Michael C. </h5>
						</div>
						<div class="votes-box">
							<span class="glyphicon glyphicon-thumbs-up thumbs-icon"></span> 
							<h4>18</h4>
						</div>
					</div>
				</div>
				<div class="product-box">
					<div class="img-box" style="height:250px;">
					</div>
					<div class="content-box">
						<div class="txt-box">
							<h5>Eames Plywood Chair</h5>
							<h5>Submitted by: Michael C. </h5>
						</div>
						<div class="votes-box">
							<span class="glyphicon glyphicon-thumbs-up thumbs-icon"></span> 
							<h4>18</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-box">
					<div class="img-box" style="height:450px;">
					</div>
					<div class="content-box">
						<div class="txt-box">
							<h5>Eames Plywood Chair</h5>
							<h5>Submitted by: Michael C. </h5>
						</div>
						<div class="votes-box">
							<span class="glyphicon glyphicon-thumbs-up thumbs-icon"></span> 
							<h4>18</h4>
						</div>
					</div>
				</div>
				<div class="product-box">
					<div class="img-box" style="height:250px;">
					</div>
					<div class="content-box">
						<div class="txt-box">
							<h5>Eames Plywood Chair</h5>
							<h5>Submitted by: Michael C. </h5>
						</div>
						<div class="votes-box">
							<span class="glyphicon glyphicon-thumbs-up thumbs-icon"></span> 
							<h4>18</h4>
						</div>
					</div>
				</div>
				<div class="product-box">
					<div class="img-box" style="height:250px;">
					</div>
					<div class="content-box">
						<div class="txt-box">
							<h5>Eames Plywood Chair</h5>
							<h5>Submitted by: Michael C. </h5>
						</div>
						<div class="votes-box">
							<span class="glyphicon glyphicon-thumbs-up thumbs-icon"></span> 
							<h4>18</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="product-box">
					<div class="img-box" style="height:350px;">
					</div>
					<div class="content-box">
						<div class="txt-box">
							<h5>Eames Plywood Chair</h5>
							<h5>Submitted by: Michael C. </h5>
						</div>
						<div class="votes-box">
							<span class="glyphicon glyphicon-thumbs-up thumbs-icon"></span> 
							<h4>18</h4>
						</div>
					</div>
				</div>
				<div class="product-box">
					<div class="img-box" style="height:250px;">
					</div>
					<div class="content-box">
						<div class="txt-box">
							<h5>Eames Plywood Chair</h5>
							<h5>Submitted by: Michael C. </h5>
						</div>
						<div class="votes-box">
							<span class="glyphicon glyphicon-thumbs-up thumbs-icon"></span> 
							<h4>18</h4>
						</div>
					</div>
				</div>
				<div class="product-box">
					<div class="img-box" style="height:250px;">
					</div>
					<div class="content-box">
						<div class="txt-box">
							<h5>Eames Plywood Chair</h5>
							<h5>Submitted by: Michael C. </h5>
						</div>
						<div class="votes-box">
							<span class="glyphicon glyphicon-thumbs-up thumbs-icon"></span> 
							<h4>18</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>