.hatch-container{
	width:80%;
	margin:0 auto;
	padding-bottom:80px;
	.right{
		margin-top: 10px;
	}
	.seeall-text{
		text-decoration: underline;
		color: #000;
	}	
	.design-box{
		margin-top: 30px;
	}
	.design-imgbox{
		background-color: $gray;
		width:95%;
		margin:0 auto;
		height:200px;	
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}
	.design-subbox{
		padding:10px 30px;
		height:100px;	
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		.design-title{
			line-height: 0.1em;
		}
		.design-author{
			line-height: 0.1em;
			color:$gray;
			a{
				color:$gray;
			}
		}
		.design-price{
			line-height: 0.1em;
		}
	}
}