<div id="product-container" ng-controller="productController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">				
				<% include partials/products/_productContent.ejs%>
			</div>
			<div class="col-md-3">
				<% include partials/products/_productInfo.ejs%>
			</div>
			<div class="col-md-12 bot-box">
				<div class="like-box">
					<h3 class="like-txt">You Might Also Like</h3>
					<div class="row design-box">
						<div class="col-md-4">
							<div class="design-img"></div>
						</div>
						<div class="col-md-4">
							<div class="design-img"></div>
						</div>
						<div class="col-md-4">
							<div class="design-img"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="like-box">
					<h3 class="like-txt">More Designs By Evan</h3>
					<div class="row design-box">
						<div class="col-md-4">
							<div class="design-img"></div>
						</div>
						<div class="col-md-4">
							<div class="design-img"></div>
						</div>
						<div class="col-md-4">
							<div class="design-img"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>