.footer{
	width:100%;
	padding:30px 0 50px 0;
	background-color: $d-gray;
	.footer-container{
		width:80%;
	}
	.footer-links{
		color:$white;
		display: block;
		line-height: 1.8em;
	}
	.footer-social-box{
		background-color: $gray;
		width:50px;
		height:50px;	
		border-radius: 4px;
	}
}