@import 'partials/hatchContainer';
.jumbo-container{
	padding:110px 0;
	width:78%;
	margin:0 auto;
	h2{
		line-height: 1.5em;
	}
	#jumbo-btn{
		padding-top: 30px;
		.btn{
			$padding: 50px;
			padding-left: $padding;
			padding-right: $padding;
		}
	}	
}
#howToHatch{
	.design-imgbox{
		background-color: $gray;
		margin:0 auto;
		width:250px;
		height:250px;	
		border-radius: 50%;
	}
}