$gray: rgb(200,200,200);
$lt-gray: rgb(240,240,240);
$d-gray: rgb(100,100,100);
$white: #fff;
$black: #000;
$test: #3df;
$test1: #000;


$navbar-height:50px;

$break-small: 700px;
$break-large: 1200px;
body{
	font-family: 'Lato', sans-serif;
}
.bg-test{
	background-color: $test;
}

.bg-test1{
	background-color: $test1;
}
.fullpg-container{
	width:98%;
	margin:0 auto;
	padding-top:50px;
}
.btn-dark{
	background-color: $d-gray;
	color: $white;
}
.lato{
	font-family: 'Lato', sans-serif;
}
.playfair{
	font-family: 'Playfair Display', serif;
}
.playfair-bold{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}