@import 'variables';
@import 'navbar';
@import 'home';
@import 'signupin';
@import 'footer';
body{
}
.fullpg-container{
	width:98%;
	margin:0 auto;
	padding-top:50px;
}
.btn-dark{
	background-color: $d-gray;
	color: $white;
}
