#suggestInfo-container{
	padding-top: $navbar-height;
	.jumbotron{
		padding:150px 0;
		text-align: center;
		.title-txt{
			@extend .playfair;
			margin-bottom: 20px;
		}
	}
	.suggest-info-box{
		padding:50px 0 100px 0;
		width:50%;
		margin:0 auto;	
		.suggest-desc-text{
			font-size: 16px;
			margin-bottom: 50px;
		}	
		.form-group{
			margin-top: 15px;
		}
		.submit-btn-box{
			margin-top:30px;
			text-align: right;
			.submit-btn{
				background-color:$black;
			}
		}
	}
}