.signupModalWindow .modal-dialog{
	width:30%;
	margin-left: auto;
	margin-right: auto;
	.signupModal{
		padding:10px 20px 5px 20px;
		font-weight: 400;	
		.form-horizontal{
			margin-top: 20px;
		}	
		.sign-text{
			text-align: center;
			color:$d-gray;
		}
		.forgot-text{
			text-align: right;
			font-size: 0.8em;
		}	
		.reset-text{
			font-size: 1em;
		}
		.reset-btn-box{
			text-align: center;
		}
		a{
			color:$black;
			font-weight: 700;
		}
	}
}
.loginSignModal{
	font-weight: 400;
	.modal-content{
		padding:10px 30px;
	}
	.sign-text{
		text-align: center;
		color:$d-gray;
	}
	.forgot-text{
		text-align: right;
		font-size: 0.8em;
	}	
	.reset-text{
		font-size: 1em;
	}
	.reset-btn-box{
		text-align: center;
	}
	.btn-dark{
		margin:0 auto;
		color:$white;
	}
	a{
		color:$black;
		font-weight: 700;
	}
}

.designerModalWindow .modal-dialog{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	.designerModal{
		width:95%;
		margin:0 auto;
		.designer-box{			
			padding:30px 0 50px 0;
			.designer-img{
				height:200px;
			}
			.designer-products-box{	
				margin-top: 20px;
				img{
					height:50px;
				}
			}
		}
	}
}

.hatchModalWindow .modal-dialog{
	width:30%;
	margin-left:auto;
	margin-right:auto;
	.hatchModal{
		width:90%;
		margin:0 auto;

		.zipcode-input{
			width:53%;
			margin:40px auto 0 auto;
			text-align: center;
		}
		.submit-btn{
			margin-top:10px;
			color:$white;
			border:1px solid $d-gray;
			background-color: $d-gray;
			padding:8px 25px;
		}
		.share-txt{
			margin-top:50px;
		}
		.social-box{
			padding:10px 0 20px 0;
		}
		.social-icon{
			margin-right: 10px;
			font-size:20px;
			color:$gray;
		}
	}
}