<div class="suggest-info-box">
	<div class="row">
		<form>
			<div class="col-md-6">							
				<div class="form-group">
					<label for="productName">Product name</label>
					<input type="text" class="form-control" id="productName" placeholder="">
				</div>
			</div>
			<div class="col-md-6">							
				<div class="form-group">
					<label for="designerName">Designer's name</label>
					<input type="text" class="form-control" name="designerName" placeholder="">
				</div>
			</div>
			<div class="col-md-12">							
				<div class="form-group">
					<label for="webLink">Web link of the product</label>
					<input type="text" class="form-control" name="webLink" placeholder="">
				</div>
			</div>	
			<div class="col-md-12">							
				<div class="form-group">
					<label for="tag">Tag to describe the product</label>
					<input type="text" class="form-control" name="tag" placeholder="">
				</div>
			</div>					
			<div class="col-md-4 col-md-offset-8 submit-btn-box">
				<button class="btn btn-primary btn-lg">Submit Suggestion</button>
			</div>
		</form>
	</div>
</div>