<footer class="footer">
	<div class="container footer-container">
		<div class="row">
			<div class="col-xs-9">
				<div class="row">
					<div class="col-sm-3">
						<a href="#" class="footer-links">How It Works</a>
						<a href="#" class="footer-links">Shipping &amp; Return</a>
						<a href="#" class="footer-links">FAQ</a>
					</div>
					<div class="col-sm-3">
						<a href="#" class="footer-links">Team</a>
						<a href="#" class="footer-links">Contact Us</a>
					</div>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="row">
					<div class="col-xs-3">
						<div class="footer-social-box">
							 <i class="flaticon-facebook55 footer-social"></i>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="footer-social-box">
							 <i class="flaticon-pinterest27 footer-social"></i>
						</div>
					</div>
					<div class="col-xs-3 ">
						<div class="footer-social-box">
							 <i class="flaticon-instagram12 footer-social"></i>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="footer-social-box">
							 <i class="flaticon-twitter1 footer-social"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>