<div class="designer-about-box">
	<div class="row">
		<div class="col-md-12">		
			<h5 class="back-txt"> Back to Search</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="img-box"></div>
			<div class="social-media-box">
				<div class="social-icon"><i class="flaticon-facebook55 designer-social"></i></div>
				<div class="social-icon"><i class="flaticon-pinterest27 designer-social"></i></div>
				<div class="social-icon"><i class="flaticon-instagram12 designer-social"></i></div>
				<div class="social-icon"><i class="flaticon-twitter1 designer-social"></i></div>
				
			</div>
		</div>
		<div class="col-md-8">
			<h1 class="designer-name">Evan Liao</h1>
			<h5 class="designer-bio">The author bio goes here. Lorem ipsum venenatis dapibus egestas urna vitae blandit, magna cubilia per commodo magna nam malesuada pellentesque, fermentum lacinia volutpat senectus venenatis litora netus risus himenaeos in. magna nam malesuada pellentesque, fermentum lacinia volutpat senectus venenatis litora netus risus himenaeos in.</h5>
		</div>
	</div>
</div>
<div class="designer-product-box">
	<div class="row">
		<div class="col-md-12 designs-by-box">
			<h2 class="designs-by-txt"> Designs by Evan Liao</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="design-box">
				<div class="design-img-box">
				</div>			
				<div class="design-desc-box">					
					<h5 class="prod-name">Fin</h5>
					<h5 class="prod-type">floor lamp</h5>
				</div>	
			</div>
		</div>
		<div class="col-md-4">
			<div class="design-box">
				<div class="design-img-box">
				</div>			
				<div class="design-desc-box">					
					<h5 class="prod-name">Laura</h5>
					<h5 class="prod-type">outdoor chair</h5>
				</div>	
			</div>
		</div>
		<div class="col-md-4">
			<div class="design-box">
				<div class="design-img-box">
				</div>			
				<div class="design-desc-box">					
					<h5 class="prod-name">Kinema Pendant</h5>
					<h5 class="prod-type">ceiling lamp</h5>
				</div>	
			</div>
		</div>
	</div>
</div>