.footer{
	width:100%;
	padding:80px 72px 80px 72px;
	background-color: $gray;
	.footer-container{
		width:100%;
	}
	.footer-links{
		color:$black;
		display: block;
		line-height: 1.8em;
	}
	.footer-social-box{
		text-align: center;
	}
	.footer-social{
		color:$d-gray;
		font-size:25px;
		cursor:pointer;
	}
}