body {
  font-family: 'Lato', sans-serif; }

.fullpg-container {
  width: 98%;
  margin: 0 auto;
  padding-top: 50px; }

.btn-dark {
  background-color: #6D6E70;
  color: #fff; }

.lato {
  font-family: 'Lato', sans-serif; }

.playfair, .navbar .navbar-brand {
  font-family: 'Playfair Display', serif; }

.playfair-bold {
  font-family: 'Playfair Display', serif;
  font-weight: 700; }

/*Nav Styles*/
.navbar {
  background-color: #bbbdc0;
  height: 50px; }

.navbar-left {
  width: 25%; }

.nav-search {
  width: 100%;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 14px;
  display: inline;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.loginSignModal {
  font-weight: 400; }
  .loginSignModal .modal-content {
    padding: 10px 30px; }
  .loginSignModal .sign-text {
    text-align: center; }
  .loginSignModal .forgot-text {
    text-align: right;
    font-size: 0.8em; }
  .loginSignModal .reset-text {
    font-weight: 300;
    font-size: 1em; }

body .modal-dialog {
  width: 30%;
  margin-left: 35%; }
  @media (max-width: 700px) {
    body .modal-dialog {
      width: 80%;
      margin-left: 10%; } }
  @media (min-width: 1200px) {
    body .modal-dialog {
      width: 25%;
      margin-left: 37.5%; } }

.footer {
  width: 100%;
  padding: 80px 0 80px 0;
  background-color: #6D6E70; }
  .footer .footer-container {
    width: 80%; }
  .footer .footer-links {
    color: #fff;
    display: block;
    line-height: 1.8em; }
  .footer .footer-social-box {
    background-color: #bbbdc0;
    width: 50px;
    height: 50px;
    border-radius: 4px; }

#designerPage-container {
  width: 100%;
  margin: 0 auto; }
  #designerPage-container .designer-about-box {
    padding: 40px 5%;
    margin-top: 50px; }
    #designerPage-container .designer-about-box .back-txt {
      text-decoration: underline; }
    #designerPage-container .designer-about-box .img-box {
      margin-top: 20px;
      width: 100%;
      height: 250px;
      background-color: #bbbdc0; }
    #designerPage-container .designer-about-box .social-media-box {
      float: right;
      clear: both; }
      #designerPage-container .designer-about-box .social-media-box .social-icon {
        float: left;
        width: 20px;
        height: 20px;
        background-color: #bbbdc0;
        margin: 5px 2px; }
    #designerPage-container .designer-about-box .designer-bio {
      margin-top: 40px; }
    #designerPage-container .designer-about-box .review-box {
      margin-top: 40px; }
    #designerPage-container .designer-about-box .follower-box {
      margin-top: 10px; }
  #designerPage-container .designer-product-box {
    padding: 180px 5%; }
    #designerPage-container .designer-product-box .designs-by-box {
      text-align: center;
      margin-bottom: 20px; }
    #designerPage-container .designer-product-box .design-box {
      width: 90%;
      margin: 0 auto; }
      #designerPage-container .designer-product-box .design-box .design-img-box {
        background-color: #bbbdc0;
        width: 100%;
        height: 180px;
        border-radius: 8px; }
      #designerPage-container .designer-product-box .design-box .design-desc-box {
        margin: 10px; }
        #designerPage-container .designer-product-box .design-box .design-desc-box .prod-name {
          font-weight: 700; }
