.bg-test {
  background-color: #3df; }

/*Nav Styles*/
.navbar {
  background-color: #e6e6e6; }

.navbar-left {
  width: 25%; }

.nav-search {
  width: 100%;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 14px;
  display: inline;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.jumbo-container {
  padding: 110px 0;
  width: 80%;
  margin: 0 auto; }
  .jumbo-container h2 {
    line-height: 1.5em; }
  .jumbo-container #jumbo-btn {
    padding-top: 30px; }
    .jumbo-container #jumbo-btn .btn {
      padding-left: 50px;
      padding-right: 50px; }

.hatch-container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 80px; }
  .hatch-container .right {
    margin-top: 10px; }
  .hatch-container .seeall-text {
    text-decoration: underline;
    color: #000; }
  .hatch-container .design-box {
    margin-top: 30px; }
  .hatch-container .design-imgbox {
    background-color: #e6e6e6;
    height: 200px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .hatch-container .design-subbox {
    background-color: #f0f0f0;
    padding: 10px 20px;
    height: 100px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }

.signModal .modal-content {
  padding: 10px 30px; }

.signModal .sign-text {
  text-align: center;
  font-weight: 400; }

body .modal-dialog {
  width: 25%; }

body {
  padding-bottom: 20px; }

.fullpg-container {
  width: 98%;
  margin: 0 auto;
  padding-top: 50px; }
