body {
  font-family: 'Lato', sans-serif; }

.fullpg-container {
  width: 98%;
  margin: 0 auto;
  padding-top: 50px; }

.btn-dark {
  background-color: #6D6E70;
  color: #fff; }

.lato {
  font-family: 'Lato', sans-serif; }

.playfair, .navbar .navbar-brand {
  font-family: 'Playfair Display', serif; }

.playfair-bold {
  font-family: 'Playfair Display', serif;
  font-weight: 700; }

/*Nav Styles*/
.navbar {
  background-color: #fff;
  padding-top: 8px;
  height: 66px; }
  .navbar .navbar-brand {
    color: #000; }
  .navbar a {
    color: #000; }
  .navbar input {
    border: 1px solid #000;
    border-radius: 2px; }

.navbar-left {
  width: 25%; }

.nav-search {
  width: 100%;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 14px;
  display: inline;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.loginSignModal {
  font-weight: 400; }
  .loginSignModal .modal-content {
    padding: 10px 30px; }
  .loginSignModal .sign-text {
    text-align: center;
    color: #6D6E70; }
  .loginSignModal .forgot-text {
    text-align: right;
    font-size: 0.8em; }
  .loginSignModal .reset-text {
    font-size: 1em; }
  .loginSignModal .reset-btn-box {
    text-align: center; }
  .loginSignModal .btn-dark {
    margin: 0 auto;
    color: #fff; }
  .loginSignModal a {
    color: #000;
    font-weight: 700; }

body .modal-dialog {
  width: 30%;
  margin-left: 35%; }
  @media (max-width: 700px) {
    body .modal-dialog {
      width: 80%;
      margin-left: 10%; } }
  @media (min-width: 1200px) {
    body .modal-dialog {
      width: 25%;
      margin-left: 37.5%; } }

.footer {
  width: 100%;
  padding: 80px 0 80px 0;
  background-color: #bbbdc0; }
  .footer .footer-container {
    width: 80%; }
  .footer .footer-links {
    color: #000;
    display: block;
    line-height: 1.8em; }
  .footer .footer-social-box {
    text-align: center; }
  .footer .footer-social {
    color: #6D6E70;
    font-size: 25px; }

.btn {
  border-radius: 2px;
  padding: 12px 20px; }

.form-control {
  border-radius: 2px; }

.sell-container {
  padding: 120px 0 120px 0;
  width: 90%;
  margin: 0 auto; }
  .sell-container .sell-box {
    padding: 10px 50px 50px 20px; }
    .sell-container .sell-box .title {
      text-align: center;
      margin-bottom: 40px; }
    .sell-container .sell-box .title-desc {
      text-align: center; }
    .sell-container .sell-box .form-group {
      margin-top: 30px; }
    .sell-container .sell-box .request-btn-box {
      text-align: right;
      margin-top: 20px; }
    .sell-container .sell-box .upload-txt {
      margin-top: 30px; }
    .sell-container .sell-box .photo-box {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      height: 210px;
      border: 1px solid black;
      border-radius: 10px; }
  .sell-container .why-box .title {
    font-weight: 700;
    line-height: 1.8em; }
  .sell-container .why-box .perk {
    line-height: 3em; }
