<div class="dropdown">
  <button id="filter-btn" class="btn btn-default dropdown-toggle drop-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
   Type
    <span class="caret"></span>
  </button>
  <ul data-name="filter" class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Home Accessories</a></li>
    <li><a href="#">Bath</a></li>
    <li><a href="#">Outdoor</a></li>
    <li><a href="#">Lighting</a>
      <ul data-name="filter" >
         <li class="sub-li"><a href="#">Floor lamp</a></li>
         <li class="sub-li"><a href="#">Table lamp</a></li>
         <li class="sub-li"><a href="#">Wall mount</a></li>
         <li class="sub-li"><a href="#">Ceiling</a></li>
      </ul>
    </li>
    <li><a href="#">Shelving</a></li>
    <li><a href="#">Storage</a></li>
    <li><a href="#">Table</a></li>
    <li><a href="#">Chair</a></li>
    <li><a href="#">Kids</a></li>
  </ul>
</div>