<div class="container hatch-container">
	<div class="browse-theme">
		<div class="row">
			<div class="col-sm-6">
				<h4>Browse by theme</h4>
			</div>
			<div class="col-sm-6 text-right">					
				<h4><a href="#" class="see-all-text">See All</a></h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="design-box">
					<div class="design-imgbox">
					</div>
					<div class="design-subbox">
						<div class="row">
							<div class="col-md-9">
								<h5 class="suggest-title"><b>Eames Plywood Rocking Chair</b></h5>
								<h5 class="suggest-author"><a href="/designer/evan/">by Evan Liao</a></h5>
							</div>							
							<div class="col-md-3 liked-box">
								<div class="glyphicon glyphicon-thumbs-up liked-img"></div>
								<h5 class="liked-txt">47</h5>
							</div>	
						</div>			
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="design-box">
					<div class="design-imgbox">
					</div>
					<div class="design-subbox">
						<div class="row">
							<div class="col-md-9">
								<h5 class="suggest-title"><b>Eames Plywood Rocking Chair</b></h5>
								<h5 class="suggest-author"><a href="/designer/evan/">by Evan Liao</a></h5>
							</div>							
							<div class="col-md-3 liked-box">
								<div class="glyphicon glyphicon-thumbs-up liked-img"></div>
								<h5 class="liked-txt">47</h5>
							</div>	
						</div>		
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="design-box">
					<div class="design-imgbox">
					</div>
					<div class="design-subbox">
						<div class="row">
							<div class="col-md-9">
								<h5 class="suggest-title"><b>Eames Plywood Rocking Chair</b></h5>
								<h5 class="suggest-author"><a href="/designer/evan/">by Evan Liao</a></h5>
							</div>							
							<div class="col-md-3 liked-box">
								<div class="glyphicon glyphicon-thumbs-up liked-img"></div>
								<h5 class="liked-txt">47</h5>
							</div>	
						</div>		
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>