<div class="row title-box">
	<div class="col-sm-12">
		<h3 class="title-txt">Hatch a Design!</h3>
	</div>
</div>
<div class="row hatch-box">
	<div class="col-sm-4">
		<div class="design-box">
			<div class="design-imgbox">
				<img class="design-img" src="../images/product/lolivase.jpg"/>
			</div>
			<div class="design-subbox">
				<div class="row">
					<div class="col-md-7 piece-box">
						<h5 class="design-title">LOLI vase</h5>
						<h5 class="design-author">by <a href="/designer/evan/">Minh Nguyen</a></h5>
					</div>							
					<div class="col-md-5 price-box">				
						<h5 class="design-msrp">MSRP <strike>$299.00</strike></h5>
						<h5 class="design-price">$249.00</h5>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="design-box">
			<div class="design-imgbox">
				<img class="design-img" src="../images/product/hedge.jpg"/>
			</div>
			<div class="design-subbox">
				<div class="row">
					<div class="col-md-7 piece-box">
						<h5 class="design-title">Hedge Pendant Pair in Marigold</h5>
						<h5 class="design-author">by <a href="/designer/evan/">Cora Neil</a></h5>
					</div>							
					<div class="col-md-5 price-box">				
						<h5 class="design-msrp">MSRP <strike>$210.00</strike></h5>
						<h5 class="design-price">$180.00</h5>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="design-box">
			<div class="design-imgbox">
				<img class="design-img" src="../images/product/kinema.jpg"/>
			</div>
			<div class="design-subbox">
				<div class="row">
					<div class="col-md-7 piece-box">
						<h5 class="design-title">Kinema Pendant Gold</h5>
						<h5 class="design-author">by <a href="/designer/evan/">Stu Fingerhunt</a></h5>
					</div>							
					<div class="col-md-5 price-box">				
						<h5 class="design-msrp">MSRP <strike>$1000.00</strike></h5>
						<h5 class="design-price">$249.00</h5>
					</div>	
				</div>
			</div>
		</div>
	</div>		
</div>

<div class="row hatch-box">
	<div class="col-sm-4">
		<div class="design-box">
			<div class="design-imgbox">
				<img class="design-img" src="../images/product/stille.jpg"/>
			</div>
			<div class="design-subbox">
				<div class="row">
					<div class="col-md-7 piece-box">
						<h5 class="design-title">STILLE mirror</h5>
						<h5 class="design-author">by <a href="/designer/evan/">Minh Nguyen</a></h5>
					</div>							
					<div class="col-md-5 price-box">				
						<h5 class="design-msrp">MSRP <strike>$299.00</strike></h5>
						<h5 class="design-price">$249.00</h5>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="design-box">
			<div class="design-imgbox">
				<img class="design-img" src="../images/product/oclock.jpg"/>
			</div>
			<div class="design-subbox">
				<div class="row">
					<div class="col-md-7 piece-box">
						<h5 class="design-title">O’Clock</h5>
						<h5 class="design-author">by <a href="/designer/evan/">OKUM</a></h5>
					</div>							
					<div class="col-md-5 price-box">				
						<h5 class="design-msrp">MSRP <strike>$98.00</strike></h5>
						<h5 class="design-price">$87.00</h5>
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="design-box">
			<div class="design-imgbox">
				<img class="design-img" src="../images/product/oon.jpg"/>
			</div>
			<div class="design-subbox">
				<div class="row">
					<div class="col-md-7 piece-box">
						<h5 class="design-title">OON Power Outlet</h5>
						<h5 class="design-author">by <a href="/designer/evan/">OKUM</a></h5>
					</div>							
					<div class="col-md-5 price-box">				
						<h5 class="design-msrp">MSRP <strike>$79.00</strike></h5>
						<h5 class="design-price">$54.00</h5>
					</div>	
				</div>
			</div>
		</div>
	</div>		
</div>

