<div class="jumbotron">
	<div class="container jumbo-container">
		<h2 class="title-txt">We make designer goods accessible</h2>
		<p id="jumbo-btn">
			<a class="btn btn-primary btn-lg btn-1" href="#" role="button">Shop Hatch Good</a>
			<a class="btn btn-primary btn-lg btn-2" href="#" role="button">Sell My Design</a>
		</p>
	</div>
</div>