<!DOCTYPE html>
<html>
<head>
	<% include partials/general/_header.ejs %>	
	<link rel="stylesheet" type="text/css" href="/stylesheets/howItWorks.css" />
</head>
<body>
	<% include partials/general/_nav.ejs %>
	<div id="howworks-container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="hatch-txt"> Hatch a Design!</h4>
			</div>
			<div class="col-md-12 toggle-box">
				<div class="btn-group" role="group" aria-label="...">
				  <button type="button" class="btn btn-default btn-toggle toggle-active">New Designs</button>
				  <button type="button" class="btn btn-default btn-toggle">Existing Designs</button>
				</div>
			</div>
			<div class="col-md-12 new-design-box">
				<div class="row">
					<div class="col-sm-4">
						<div class="design-box">
							<div class="design-imgbox">
							</div>
						</div>
						<div class="text-box">
							<h5 class="desc-txt">1. In order to provide goods at reasonable costs, our designers give us the minimum number of orders required before they can begin manufacturing.</h5>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="design-box">
							<div class="design-imgbox">
							</div>
						</div>
						<div class="text-box">
							<h5 class="desc-txt">2. Our community of design enthusiasts join to help hatch the product by meeting the designer's minimum order.</h5>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="design-box">
							<div class="design-imgbox">
							</div>
						</div>
						<div class="text-box">
							<h5 class="desc-txt">3. Once the minimum order is met, our designers go into manufacturing and prepare to ship the goods to you.</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include partials/general/_footer.ejs %>
	<% include partials/general/_js.ejs %>
</body>
</html>