<!DOCTYPE html>
<html>
<head>
	<% include ../partials/_header.ejs %>
</head>
<body>
	<% include ../partials/_nav.ejs %>
	<% include ../partials/home/_jumbo.ejs %>
	<% include ../partials/home/_hatchDesign.ejs %>
	<% include ../partials/home/_hatchCurated.ejs %>	
	<% include ../partials/_footer.ejs %>
	<% include ../partials/_js.ejs %>	
	<% include ../partials/home/_signup.ejs %>
	<% include ../partials/home/_login.ejs %>
	<% include ../partials/home/_forgotPassword.ejs %>
</body>
</html>