<!DOCTYPE html>
<html>
<head>
	<% include ../partials/_header.ejs %>
</head>
<body>
	<% include ../partials/_nav.ejs %>
	<div class="fullpg-container">
		<div class="row">
			<div class="col-xs-12 bg-test">
			Landing Page
			</div>
		</div>
	</div>
	<% include ../partials/_js.ejs %>
</body>
</html>