<!DOCTYPE html>
<html>
<head>
	<% include ../partials/general/_header.ejs %>
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
	<% include ../partials/general/_nav.ejs %>
	<% include ../partials/home/_jumbo.ejs %>
	<% include ../partials/home/_howToHatch.ejs %>
	<% include ../partials/home/_hatchDesign.ejs %>
	<% include ../partials/home/_browseTheme.ejs %>	
	<% include ../partials/general/_footer.ejs %>
	<% include ../partials/general/_js.ejs %>	
</body>
</html>