<!DOCTYPE html>
<html>
<head>
	<% include ../partials/_header.ejs %>
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/product.css" />
</head>
<body>
	<% include ../partials/_nav.ejs %>
	<div id="product-container">
		<div class="row">
			<div class="col-md-9">				
				<% include ../partials/product/_productContent.ejs%>
			</div>
			<div class="col-md-3">
				<% include ../partials/product/_productInfo.ejs%>
			</div>
			<div class="col-md-12 bot-box">
				<div class="like-box">
					<h3 class="like-txt">You Might Also Like</h3>
					<div class="row design-box">
						<div class="col-md-4">
							<div class="design-img"></div>
						</div>
						<div class="col-md-4">
							<div class="design-img"></div>
						</div>
						<div class="col-md-4">
							<div class="design-img"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="like-box">
					<h3 class="like-txt">More Designs By Evan</h3>
					<div class="row design-box">
						<div class="col-md-4">
							<div class="design-img"></div>
						</div>
						<div class="col-md-4">
							<div class="design-img"></div>
						</div>
						<div class="col-md-4">
							<div class="design-img"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ../partials/_footer.ejs %>
	<% include ../partials/_js.ejs %>	
</body>
</html>