<!DOCTYPE html>
<html>
<head>
	<% include ../partials/_header.ejs %>

	<link rel="stylesheet" type="text/css" href="/stylesheets/productList.css" />
</head>
<body>
	<% include ../partials/_nav.ejs %>
	<% include ../partials/productList/_mainProduct.ejs %>
	<% include ../partials/_footer.ejs %>
	<% include ../partials/_js.ejs %>		
	<% include ../partials/home/_favoriteModal.ejs %>
</body>
</html>