<!DOCTYPE html>
<html>
<head>
	<% include partials/general/_header.ejs %>

	<link rel="stylesheet" type="text/css" href="/stylesheets/productList.css" />
</head>
<body>
	<% include partials/general/_nav.ejs %>
	<% include partials/productList/_mainProduct.ejs %>
	<% include partials/general/_footer.ejs %>
	<% include partials/general/_js.ejs %>

	<script src="/js/productList.js"></script>		
</body>
</html>