<!DOCTYPE html>
<html>
<head>
	<% include partials/general/_header.ejs %>
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/sell.css" />
</head>
<body>
	<% include partials/general/_nav.ejs %>
	<% include partials/sell/_mainSell.ejs%>
	<% include partials/general/_footer.ejs %>
	<% include partials/general/_js.ejs %>	
</body>
</html>