<div class="jumbotron home-jumbotron">
	<div class="container jumbo-container">
		<h2 class="title-txt">Designer goods now at your reach</h2>
		<p id="jumbo-btn">
			<a class="btn btn-primary btn-lg" href="#" role="button">Shop Hatch Good</a>
		</p>
	</div>
</div>