<div class="row title-box">
	<div class="col-sm-6">
		<h3 class="title-txt">See Suggested Designs!</h3>
	</div>
	<div class="col-sm-6 text-right">					
		<h4><a href="#" class="see-all-text">See All</a></h4>
	</div>
</div>
<div class="row suggest-box">
	<div class="col-sm-4">
		<div class="design-box">
			<div class="design-imgbox">
				<img class="design-img" src="../assets/images/suggest/deckchair.jpg"/>
			</div>
			<div class="design-subbox">
				<div class="row">
					<div class="col-md-12">
						<h5 class="suggest-title"><b>Deckchair with Sunshade</b></h5>
						<h5 class="suggest-author"><a href="/designer/evan/">submitted by mmminimal</a></h5>
					</div>							
					<div class="col-md-12 liked-box">
						<div class="glyphicon glyphicon-thumbs-up liked-img"></div>
						<h5 class="liked-txt">47</h5>
					</div>	
				</div>			
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="design-box">
			<div class="design-imgbox">
				<img class="design-img" src="../assets/images/suggest/moresque.jpg"/>
			</div>
			<div class="design-subbox">
				<div class="row">
					<div class="col-md-12">
						<h5 class="suggest-title"><b>Moresque Light by Alessandro Zambelli Seletti</b></h5>
						<h5 class="suggest-author"><a href="/designer/evan/">submitted by mmminimal</a></h5>
					</div>							
					<div class="col-md-12 liked-box">
						<div class="glyphicon glyphicon-thumbs-up liked-img"></div>
						<h5 class="liked-txt">47</h5>
					</div>	
				</div>		
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="design-box">
			<div class="design-imgbox">
				<img class="design-img" src="../assets/images/suggest/daynight.jpg"/>
			</div>
			<div class="design-subbox">
				<div class="row">
					<div class="col-md-12">
						<h5 class="suggest-title"><b>Day Night Lights Eleonore Delisse</b></h5>
						<h5 class="suggest-author"><a href="/designer/evan/">submitted by mmminimal</a></h5>
					</div>							
					<div class="col-md-12 liked-box">
						<div class="glyphicon glyphicon-thumbs-up liked-img"></div>
						<h5 class="liked-txt">47</h5>
					</div>	
				</div>		
			</div>
		</div>
	</div>		
</div>
