<div id="favoriteModal" class="modal fade loginSignModal" tabindex="-1" role="dialog" aria-labelledby="favoriteModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
		<div class="row">
			<div class="col-sm-12">
				<h5 class="text-center">Thank You!</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<h5 class="text-center">We've added ___ to your favorites.We will keep you updated on its status.</h5>
			</div>
		</div>
    </div>
  </div>
</div>