<div class="hatch-container">
	<div class="row">
		<div class="col-sm-6">
			<h4>Hatch Curated Pages</h4>
		</div>
		<div class="col-sm-6 text-right right">		
			<a href="#" class="see-text">See All</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="design-box">
				<div class="design-imgbox">
				</div>
			</div>
			<h6 class="text-center">Art Center College of Design</h6>
		</div>
		<div class="col-sm-4">
			<div class="design-box">
				<div class="design-imgbox">
				</div>
			</div>		
			<h6 class="text-center">Rhode Island School of Design</h6>
		</div>
		<div class="col-sm-4">	
			<div class="design-box">
				<div class="design-imgbox">
				</div>
			</div>	
			<h6 class="text-center">St. Central Martins College of Art and Design</h6>
		</div>
	</div>
</div>