<div class="container hatch-container">
	<div id="howToHatch">
		<div class="row">
			<div class="col-sm-12">
				<h4>How Does Hatch Work?</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="design-box">
					<div class="design-imgbox">
					</div>
				</div>
				<h5 class="text-left">1. how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here</h5>
			</div>
			<div class="col-sm-4">
				<div class="design-box">
					<div class="design-imgbox">
					</div>
				</div>
				<h5 class="text-left">2. how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here</h5>
			</div>
			<div class="col-sm-4">
				<div class="design-box">
					<div class="design-imgbox">
					</div>
				</div>
				<h5 class="text-left">3. how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here how it works goes here</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-offset-4 btn-box">
				<a class="btn btn-primary btn-lg" href="#" role="button">Ask More Questions</a>
			</div>
		</div>
	</div>
</div>