<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="jumbo-container">
		<h2>Join fellow design enthusiasts to hatch <br> unique designer goods directly to you.</h2>
		<p id="jumbo-btn">
			<a class="btn btn-primary btn-lg btn-padding" href="#" role="button">Shop</a>
			<a class="btn btn-primary btn-lg btn-padding" href="#" role="button">Sell</a>
		</p>
	</div>
</div>