<div class="suggest-product-container">
	<%include _suggestProductTop.ejs%>
	<div class="row products-box">
		<div class="col-md-4" style="margin:0; padding:0">
			<div class="row" style="margin:0">
				<div class="col-xs-12" >
					<div class="product-div">
						<div class="img-box" style="height:250px;">
						</div>
						<div class="content-box">
							<div class="row">
								<div class="col-md-12">
									<button type="button" class="btn btn-default vote-btn"><span class="glyphicon glyphicon-thumbs-up"></span>  Vote</button>
									<button type="button" class="btn btn-default message-btn">18</button>
								</div>
								<div class="col-md-12 txt-box">
									<h4>Eames Plywood Chair</h4>
									<h4>Submitted by: Michael C. </h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12" >
					<div class="product-div">
						<div class="img-box" style="height:250px;">
						</div>
						<div class="content-box">
							<div class="row">
								<div class="col-md-12">
									<button type="button" class="btn btn-default vote-btn"><span class="glyphicon glyphicon-thumbs-up"></span>  Vote</button>
									<button type="button" class="btn btn-default message-btn">18</button>
								</div>
								<div class="col-md-12 txt-box">
									<h4>Eames Plywood Chair</h4>
									<h4>Submitted by: Michael C. </h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12" >
					<div class="product-div">
						<div class="img-box" style="height:250px;">
						</div>
						<div class="content-box">
							<div class="row">
								<div class="col-md-12">
									<button type="button" class="btn btn-default vote-btn"><span class="glyphicon glyphicon-thumbs-up"></span>  Vote</button>
									<button type="button" class="btn btn-default message-btn">18</button>
								</div>
								<div class="col-md-12 txt-box">
									<h4>Eames Plywood Chair</h4>
									<h4>Submitted by: Michael C. </h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4"style="margin:0; padding:0">
			<div class="row" >
				<div class="col-xs-12">
					<div class="product-div">
						<div class="img-box" style="height:450px;">
						</div>
						<div class="content-box">
							<div class="row">
								<div class="col-md-12">
									<button type="button" class="btn btn-default vote-btn"><span class="glyphicon glyphicon-thumbs-up"></span>  Vote</button>
									<button type="button" class="btn btn-default message-btn">18</button>
								</div>
								<div class="col-md-12 txt-box">
									<h4>Eames Plywood Chair</h4>
									<h4>Submitted by: Michael C. </h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12" >
					<div class="product-div">
						<div class="img-box" style="height:350px;">
						</div>
						<div class="content-box">
							<div class="row">
								<div class="col-md-12">
									<button type="button" class="btn btn-default vote-btn"><span class="glyphicon glyphicon-thumbs-up"></span>  Vote</button>
									<button type="button" class="btn btn-default message-btn">18</button>
								</div>
								<div class="col-md-12 txt-box">
									<h4>Eames Plywood Chair</h4>
									<h4>Submitted by: Michael C. </h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12" >
					<div class="product-div">
						<div class="img-box" style="height:150px;">
						</div>
						<div class="content-box">
							<div class="row">
								<div class="col-md-12">
									<button type="button" class="btn btn-default vote-btn"><span class="glyphicon glyphicon-thumbs-up"></span>  Vote</button>
									<button type="button" class="btn btn-default message-btn">18</button>
								</div>
								<div class="col-md-12 txt-box">
									<h4>Eames Plywood Chair</h4>
									<h4>Submitted by: Michael C. </h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4" style="margin:0; padding:0">
			<div class="col-xs-12" >
					<div class="product-div">
						<div class="img-box" style="height:150px;">
						</div>
						<div class="content-box">
							<div class="row">
								<div class="col-md-12">
									<button type="button" class="btn btn-default vote-btn"><span class="glyphicon glyphicon-thumbs-up"></span>  Vote</button>
									<button type="button" class="btn btn-default message-btn">18</button>
								</div>
								<div class="col-md-12 txt-box">
									<h4>Eames Plywood Chair</h4>
									<h4>Submitted by: Michael C. </h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12" >
					<div class="product-div">
						<div class="img-box" style="height:300px;">
						</div>
						<div class="content-box">
							<div class="row">
								<div class="col-md-12">
									<button type="button" class="btn btn-default vote-btn"><span class="glyphicon glyphicon-thumbs-up"></span>  Vote</button>
									<button type="button" class="btn btn-default message-btn">18</button>
								</div>
								<div class="col-md-12 txt-box">
									<h4>Eames Plywood Chair</h4>
									<h4>Submitted by: Michael C. </h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12" >
					<div class="product-div">
						<div class="img-box" style="height:400px;">
						</div>
						<div class="content-box">
							<div class="row">
								<div class="col-md-12">
									<button type="button" class="btn btn-default vote-btn"><span class="glyphicon glyphicon-thumbs-up"></span>  Vote</button>
									<button type="button" class="btn btn-default message-btn">18</button>
								</div>
								<div class="col-md-12 txt-box">
									<h4>Eames Plywood Chair</h4>
									<h4>Submitted by: Michael C. </h4>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>