<div class="content-box">
	<div class="row">
		<div class="col-md-12">
			<div class="see-box">
				<a href="#" class="see-all-txt">See All Designs</a>
			</div>
		</div>
		<div class="col-md-12">
			<div class="product-desc-box">
				<h3 class="product-title-txt">Hedge Pendant Pair in Fig</h3>
				<h4 class="product-author-txt">by <a href="#" class="author-txt">Cora Neil</a></h3>
			</div>
		</div>
		<div class="col-md-12">
			<div class="gallery-box">
				<% include _productCarousel.ejs %>
			</div>
		</div>
		<div class="col-md-12">
			<div class="nav-tab-box">
				<div class="row">
					<div class="col-md-2">
						<h4 class="active">Design Specifics</h4>
					</div>
					<div class="col-md-2">
						<h4 class="">Comments (29)</h4>
					</div>
					<div class="col-md-2">
						<h4 class="">Updates (3)</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="more-info-box">
				<h3><span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;As Seen on Instagram</h3>
				<div class="row" >
					<div class="col-md-3">
						<div class="insta-box">
						</div>
					</div>
					<div class="col-md-3">
						<div class="insta-box">
						</div>
					</div>
					<div class="col-md-3">
						<div class="insta-box">
						</div>
					</div>
					<div class="col-md-3">
						<div class="insta-box">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12"  id="affix-stop">
			<div class="more-info-box">
				<h3><span class="glyphicon glyphicon-chevron-down"></span>&nbsp;&nbsp;Product Description</h3>
				<h4>Fin is a floor lamp that uses a reflecting plane and high lumen LEDs to create approachable indirect light and functional birght light, simultaneously</h4>
				<div class="row">
					<div class="col-md-3">
						<div class="insta-box">
						</div>
					</div>
					<div class="col-md-3">
						<div class="insta-box">
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="col-md-12" >
			<div class="more-info-box">
				<h3><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;Materials and Dimension</h3>
			</div>
		</div>
		<div class="col-md-12">
			<div class="more-info-box">
				<h3><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;Manufacturing Source</h3>
			</div>
		</div>
		<div class="col-md-12">
			<div class="more-info-box">
				<h3><span class="glyphicon glyphicon-chevron-right"></span>&nbsp;&nbsp;Ship Out Timeline</h3>
			</div>
		</div>
	</div>
</div>