<div ng-controller="productController">
  <div class="productCarousel" >
  <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
    <uib-slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}" style="margin:auto;">
    </uib-slide>
  </uib-carousel>
  </div>
</div>