<div class="info-box">
	<div class="row ">
	<div id="sticky-box" class="affix">
		<div class="col-md-12">
			<div class="view-box">
				<h5>5 people are currently viewing this product</h5>
			</div>
		</div>
		<div class="col-md-12">
			<div class="row content-box">
				<div class="col-md-6">
					<h2>Fin</h2>
					<h5>By: Evan Liao</h5>
				</div>
				<div class="col-md-6 price-box" >
					<h6 class="single-desc">single piece production</h6>
					<h5 class="single-txt"><strike>$1400</strike></h5>					
					<h4 class="price-txt">$249.00</h4>
					<h5 class="shipping-txt">+shipping</h5>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="amount-box">
			</div>
		</div>
		<div class="col-md-12">
			<div class="row amount-desc-box">
				<div class="col-md-6">
					<h5>19 more!</h5>
				</div>
				<div class="col-md-6 days-box">
					<h5 class="days-txt">60 days left</h5>
				</div>
				<div class="col-md-12">
					<h5 class="orders-txt">1 of 20 orders met</h5>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="row add-box">
				<div class="col-md-5">
					<button class="btn btn-default add-btn" type="submit">-&nbsp;&nbsp;&nbsp;&nbsp; 1 &nbsp;&nbsp;&nbsp;&nbsp;+</button>
				</div>
				<div class="col-md-7 hatch-box">
					<button class="btn btn-default hatch-btn" type="submit">Hatch This Design!</button>
				</div>
			</div>
		</div>
		<div class="col-md-12 shipping-box">
			<h4 class="shipping-txt">Once minimum order is met, we plan to finish manufacturing and begin <b>Shipping June 2016</b></h4>
		</div>
		<div class="col-md-12 more-box">
			<h4 class="more-txt">More designs by Evan Liao</h4>
			<div class="row">
				<div class="col-md-4">
					<div class="product-box">
					</div>
				</div>
				<div class="col-md-4">
					<div class="product-box">
					</div>
				</div>
				<div class="col-md-4">
					<div class="product-box">
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>