<div class="dropdown">
  <button id="sort-btn" class="btn btn-default dropdown-toggle drop-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Sort by
    <span class="caret"></span>
  </button>
  <ul data-name="sort" class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">earliest ship date</a></li>
    <li><a href="#">most hatched</a></li>
    <li><a href="#">price: low-high</a></li>
    <li><a href="#">price: high-low</a></li>
    <li><a href="#">time: newest listed</a></li>
    <li><a href="#">time: ending soonest</a></li>
  </ul>
</div>