.loginSignModal{
	font-weight: 400;
	.modal-content{
		padding:10px 30px;
	}
	.sign-text{
		text-align: center;
		color:$d-gray;
	}
	.forgot-text{
		text-align: right;
		font-size: 0.8em;
	}	
	.reset-text{
		font-size: 1em;
	}
	.reset-btn-box{
		text-align: center;
	}
	.btn-dark{
		margin:0 auto;
		color:$white;
	}
	a{
		color:$black;
		font-weight: 700;
	}
}
body .modal-dialog{
	width: 30%;
	margin-left: 35%;
	 @media (max-width: $break-small) {
			width: 80%;
			margin-left: 10%;
  	}
  	 @media (min-width: $break-large) {
		width: 25%;
		margin-left: 37.5%;
  	}
}