<div id="signupModal" class="modal fade loginSignModal" tabindex="-1" role="dialog" aria-labelledby="signupModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
		<div class="row">
			<div class="col-sm-12">
				<h4>Sign Up</h4>
			</div>
		</div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-6">
					<input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="email" class="form-control" id="inputEmail" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="password" class="form-control" id="inputPassword" placeholder="Password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<input type="password" class="form-control" id="confirmPassword" placeholder="Re-Enter Password">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-default btn-block">Sign me up!</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<h5 class="sign-text">Or</h5>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<button type="submit" class="btn btn-default btn-block">Login with Facebook</button>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<h5 class="sign-text">Already have an account? <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Log In</a></h5>
				</div>
			</div>
		</form>
    </div>
  </div>
</div>