#howworks-container{
	.padding-how{
		padding:100px 72px 150px 72px;
	}
	.toggle-btn-box{
			text-align: center;
			margin-top:20px;
			.btn{
				outline: none;
				border: none;
				-webkit-box-shadow: none ;
				-moz-box-shadow: none ;
				box-shadow: none ;
			}
			.active-toggle{
				color:$white;
				background-color: $black;
				border:1px solid $black;
			}
			.toggle-btn{
				color:$black;
				background-color: $lt-blue;
				border:1px solid $black;
			}
	}
	.detail-box{
			width:100%;
			margin:50px auto 0 auto;
			.howdesc-box{
				width:60%;
				margin:40px auto 0 auto;
				text-align: center;
				.num-txt{
					@extend .playfair-bold;
					font-size: 25px;
				}
				.desc-txt{
					line-height: 1.2em;
				}
			}
		}
		.btn-box{
			margin-top:30px;
			text-align: center;
			.btn{
				background-color:$lt-blue;
				border:1px solid $black;
				color:$black;
			}
		}
}