<% include partials/home/_jumbo.ejs %>
<div id="homeContainer" ng-controller="homeController">
	<div class="container-fluid home-container">
		<% include partials/home/_hatchDesign.ejs %>
		<% include partials/home/_suggestDesign.ejs %>	
		<% include partials/home/_howToHatch.ejs %>
	</div>
</div>