$lt-gray: #E6E7E8;
$gray: #BBBDBF;
$d-gray: #58595B;
$white: #fff;
$black: #231F20;
$yellow:#FFD731;
$lt-blue: #f7fafa;

$navbar-height:66px;

$break-small: 700px;
$break-large: 1800px;
$break-medium:960px;

body{
	font-family: 'Lato', sans-serif;
}
h1{
	font-size: 30px;
}
h2{
	font-size: 24px;
}
h3{
	font-size: 18px;
}
h4{
	font-size: 14px;
}
h5{
	font-size: 16px;
}
h6{
	font-size: 12px;
}
.fullpg-container{
	width:98%;
	margin:0 auto;
	padding-top:50px;
}
.btn-dark{
	background-color: $d-gray;
	border:1px solid $d-gray;
	color: $white;
}
.btn-black{
	background-color: $black;
	border:1px solid $black;
	color: $white;
}
.lato{
	font-family: 'Lato', sans-serif;
}
.lato-bold{
	font-family: 'Lato', sans-serif;
	font-weight:700;
}
.playfair{
	font-family: 'Playfair Display', serif;
}
.playfair-bold{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}