<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<base href="/">

	<title>HatchGood</title>

	<!-- CSS -->
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../vendor/bootstrap/dist/css/bootstrap.min.css">
	<link href="../assets/fonts/flaticon.css" rel='stylesheet' type='text/css'>
	<link href="main.min.css" rel="stylesheet" type='text/css'>

	<% include shared/angular.ejs%>
</head>
<body ng-app="HatchGood" ng-controller="homeController">
	<div class="navbar-container">
		<% include shared/nav/_nav.ejs %>
	</div>
	<!-- ANGULAR DYNAMIC CONTENT -->

	<div class="content-container">
		<div ng-view autoscroll="true"></div>
	</div>
	<div class="footer-container">
		<% include shared/nav/_footer.ejs %>
	</div>
	<% include shared/nav/_googleAnalytics.ejs %>	
</body>
</html>
