<div id="contact-container" ng-controller="contactController">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h4 class="question-txt"> Got more questions for us?</h4>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<textarea class="form-control question-input" rows="8"></textarea>
		</div>
		<div class="col-md-6 col-md-offset-3 ask-box">
			<button type="button" class="btn btn-default ask-btn">Ask</button>
		</div>
	</div>
</div>