<div id="homeContainer" ng-controller="homeController">
	<% include partials/home/_jumbo.ejs %>
	<% include partials/home/_howToHatch.ejs %>
	<% include partials/home/_hatchDesign.ejs %>
	<% include partials/home/_browseTheme.ejs %>	
</div>