<% include partials/home/_jumbo.ejs %>
<div class="content">
	<div id="homeContainer" ng-controller="homeController">
		<div class="container-fluid home-container">
			<% include partials/home/_howToHatch.ejs %>
			<% include partials/home/_hatchDesign.ejs %>
			<% include partials/home/_suggestDesign.ejs %>	
		</div>
	</div>
</div>