.footer{
	width:100%;
	padding:80px 0 80px 0;
	background-color: $gray;
	.footer-container{
		width:80%;
	}
	.footer-links{
		color:$black;
		display: block;
		line-height: 1.8em;
	}
	.footer-social-box{
		text-align: center;
	}
	.footer-social{
		color:$d-gray;
		font-size:25px;
	}
}